.main {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}

.btnStyle {
  font: inherit;
  font-weight: bold;
  height: 3em;
  border: 2px solid var(--border-color);
  background-color: var(--btn-bg);
  padding: 1em;
  margin: 1em;
  width: 10em;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  color: var(--text-primary);
}

.btnStyleActive {
  background-color: var(--btn-active-bg);
}

.btnStyle:hover {
  background-color: var(--btn-hover);
  color: var(--text-primary);
}

.btnStyle:active {
  background-color: var(--btn-active);
  color: var(--text-primary);
}

.navSection {
  display: flex;
  height: 50px;
  justify-content: center;
}

.contentSection {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.contentSection p {
  margin: 25px 0 10px 0;
  font-size: 1em;
  font-weight: bold;
}

.contentSection li {
  margin: 8px 0;
}

.contentSection li a {
  font-family: "Roboto", sans-serif;
  margin: 5px;
  text-decoration: none;
  color: var(--text-link);
}
